In [123]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lucas\miniconda3\lib\site-packages (1.3.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\lucas\miniconda3\lib\site-packages (from pandas) (1.20.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lucas\miniconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\lucas\miniconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\lucas\miniconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [124]:
import pandas as pd

In [125]:
# carrega arquivo
xls = pd.ExcelFile("Coletar Modelos de Paredes.xlsm")

# 'extrai' Paredes
Paredes_df = pd.read_excel(xls, sheet_name='Paredes')
Paredes_df  = Paredes_df.dropna(how='all', axis=0)
Paredes_df  = Paredes_df.dropna(how='all', axis=1)
Paredes_df  = Paredes_df.drop('DeltaY', axis=1)

display(Paredes_df)

,ID par,Layer,Xi,Yi,Xf,Yf,Lenght,ID Texto,Texto,ID esq,Layer esq
0,P0001,PAR01,26.4252,0,34.1652,0,7.7400,T0008,PAREDE 23,E0009; E0010,ESQ06; ESQ01
1,P0002,PAR01,65.1489,0,74.1389,0,8.9900,T0001,PAREDE 14,E0002; E0003,ESQ01; ESQ06
2,P0003,PAR01,58.7989,0,65.1489,0,6.3500,T0002,PAREDE 13,E0001; E0004,ESQ09; ESQ06
3,P0004,PAR01,0.0000,0,2.3900,0,2.3900,T0003,PAREDE 0,NaN,NaN
4,P0005,PAR02,5.7453,0,8.9353,0,3.1900,T0004,PAREDE 2=20,NaN,NaN
5,P0006,PAR03,52.8452,0,54.8389,0,1.9937,T0005,PAREDE 11AB,E0005,ESQ02
6,P0007,PAR01,44.8052,0,49.8527,0,5.0475,T0006,PAREDE 1,E0006; E0007,ESQ01; ESQ08
7,P0008,PAR01,38.1652,0,41.8052,0,3.6400,T0007,PAREDE 19,E0008,ESQ07
8,P0009,PAR01,19.0252,0,26.4252,0,7.4000,T0009,PAREDE 22,E0011; E0012,ESQ05; ESQ04
9,P0010,PAR04,10.9353,0,16.6752,0,5.7399,T0010,PAREDE 4 (7x),E0013; E0014,ESQ01; ESQ03

In [126]:
# 'extrai' Î”Y
DeltaY = pd.read_excel(xls, sheet_name='Paredes')
DeltaY = DeltaY.loc[0, 'DeltaY']
display(DeltaY)

15.0

In [127]:
# 'extrai' Esquadrias
Esquadrias_df = pd.read_excel(xls, sheet_name='Esq').dropna(how='all', axis=0)
display(Esquadrias_df)

,ID esq,Layer,Xi,Yi,Xf,Yf,Largura,Altura,Peitoril,ID par,Layer par,XiDelta,YiDelta
0,E0001,ESQ09,64.5389,0.474,64.7489,0.474,21,21,20,P0003,PAR01,574.0,20
1,E0002,ESQ01,66.5389,0.274,67.7489,0.274,121,121,100,P0002,PAR01,139.0,100
2,E0003,ESQ06,69.3389,0.274,71.3489,0.274,201,121,100,P0002,PAR01,419.0,100
3,E0004,ESQ06,62.7389,0.274,64.7489,0.274,201,121,100,P0003,PAR01,394.0,100
4,E0005,ESQ02,53.2815,0.400,54.4026,0.400,112,221,0,P0006,PAR03,44.0,0
5,E0006,ESQ01,47.5952,0.400,48.8052,0.400,121,121,100,P0007,PAR01,279.0,100
6,E0007,ESQ08,45.1952,0.400,46.4052,0.400,121,101,120,P0007,PAR01,39.0,120
7,E0008,ESQ07,38.3552,0.400,39.2654,0.400,91,221,0,P0008,PAR01,19.0,0
8,E0009,ESQ06,29.3652,0.400,31.3752,0.400,201,121,100,P0001,PAR01,294.0,100
9,E0010,ESQ01,27.1652,0.400,28.3752,0.400,121,121,100,P0001,PAR01,74.0,100
10,E0011,ESQ05,24.2152,0.400,25.0252,0.400,81,101,0,P0009,PAR01,519.0,0
11,E0012,ESQ04,22.2152,0.400,22.8252,0.400,61,81,140,P0009,PAR01,319.0,140
12,E0013,ESQ01,14.6753,0.400,15.8853,0.400,121,121,100,P0010,PAR04,374.0,100
13,E0014,ESQ03,11.8752,0.400,13.4853,0.400,161,221,0,P0010,PAR04,94.0,0

In [128]:
# 'extrai' LinFiadas
Fiadas_df = pd.read_excel(xls, sheet_name='Fiadas')
Fiadas_df = Fiadas_df.dropna(how='all', axis=0)
Fiadas_df = Fiadas_df.dropna(how='all', axis=1)
Fiadas_df = Fiadas_df.drop('Unnamed: 12', axis=1)

display(Fiadas_df)

,ID fiada,Xi,Yi,Xf,Yf,Tipo,Layer,NÃºmFiada,ID par,XiDelta,YiDelta
0,F140001,11.0853,17.61,16.6752,17.61,LINE,FIADAS,14,P0010,15.0,260.0
1,F130001,11.0853,17.41,16.6752,17.41,LINE,FIADAS,13,P0010,15.0,240.0
2,F120001,11.0853,17.21,16.6752,17.21,LINE,FIADAS,12,P0010,15.0,220.0
3,F110001,15.8853,17.01,16.6752,17.01,LINE,FIADAS,11,P0010,495.0,200.0
4,F110002,13.4853,17.01,14.6753,17.01,LINE,FIADAS,11,P0010,255.0,200.0
...,...,...,...,...,...,...,...,...,...,...,...
208,F050014,26.4252,15.81,34.1652,15.81,LINE,FIADAS,5,P0001,0.0,80.0
209,F040014,26.4252,15.61,34.1652,15.61,LINE,FIADAS,4,P0001,0.0,60.0
210,F030014,26.4252,15.41,34.1652,15.41,LINE,FIADAS,3,P0001,0.0,40.0
211,F020016,26.4252,15.21,34.1652,15.21,LINE,FIADAS,2,P0001,0.0,20.0
212,F010014,26.4252,15.01,34.1652,15.01,LINE,FIADAS,1,P0001,0.0,0.0

In [129]:
# 'extrai' Blocos
Blocos_df = pd.read_excel(xls, sheet_name='Blocos')
Blocos_df = Blocos_df.dropna(how='all', axis=0)
Blocos_df = Blocos_df.dropna(how='all', axis=1)
Blocos_df = Blocos_df.drop(['Unnamed: 13', 'Unnamed: 14'], axis=1)
display(Blocos_df)

,ID bloco,Xi,Yi,Xf,Yf,Tipo,Layer,Lenght,ID fiada,ID par,XiDelta,YiDelta
0,B14000007,16.5352,17.61,16.6752,17.8,POLYLINE,BP,14,F140001,P0010,560.0,260.0
1,B14000007,16.5352,17.21,16.6752,17.4,POLYLINE,BP,14,F120001,P0010,560.0,220.0
2,B14000007,16.5352,16.81,16.6752,17.0,POLYLINE,BP,14,F100001,P0010,560.0,180.0
3,B14000007,16.5352,16.41,16.6752,16.6,POLYLINE,BP,14,F080001,P0010,560.0,140.0
4,B14000007,16.5352,16.01,16.6752,16.2,POLYLINE,BP,14,F060001,P0010,560.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1510,B39001219,1.2000,15.01,1.5900,15.2,POLYLINE,B39,39,F010011,P0004,120.0,0.0
1511,B39001219,1.6000,15.01,1.9900,15.2,POLYLINE,B39,39,F010011,P0004,160.0,0.0
1512,B39001219,0.8000,15.01,1.1900,15.2,POLYLINE,B39,39,F010011,P0004,80.0,0.0
1513,B39001219,0.0000,15.01,0.3900,15.2,POLYLINE,B39,39,F010011,P0004,0.0,0.0
1514,B39001219,0.4000,15.01,0.7900,15.2,POLYLINE,B39,39,F010011,P0004,40.0,0.0

In [130]:
paredes = {}

for par in Paredes_df['ID par']:
  paredes[par] = Paredes_df.loc[Paredes_df['ID par'] == par]

print(paredes['P0010'])

  ID par  Layer       Xi  Yi       Xf  Yf  Lenght ID Texto          Texto  \
9  P0010  PAR04  10.9353   0  16.6752   0  5.7399    T0010  PAREDE 4 (7x)

         ID esq     Layer esq
9  E0013; E0014  ESQ01; ESQ03

In [131]:
esquadrias = {}

for par in Esquadrias_df['ID par']:
  esquadrias[par] = Esquadrias_df.loc[Esquadrias_df['ID par'] == par]

print(esquadrias['P0010'])

   ID esq  Layer       Xi   Yi       Xf   Yf  Largura  Altura  Peitoril  \
12  E0013  ESQ01  14.6753  0.4  15.8853  0.4      121     121       100
13  E0014  ESQ03  11.8752  0.4  13.4853  0.4      161     221         0

   ID par Layer par  XiDelta  YiDelta
12  P0010     PAR04    374.0      100
13  P0010     PAR04     94.0        0

In [132]:
fiadas = {}

for par in Fiadas_df['ID par']:
  fiadas[par] = Fiadas_df.loc[Fiadas_df['ID par'] == par]

print(fiadas['P0010'])

   ID fiada       Xi     Yi       Xf     Yf  Tipo   Layer  NÃºmFiada ID par  \
0   F140001  11.0853  17.61  16.6752  17.61  LINE  FIADAS        14  P0010
1   F130001  11.0853  17.41  16.6752  17.41  LINE  FIADAS        13  P0010
2   F120001  11.0853  17.21  16.6752  17.21  LINE  FIADAS        12  P0010
3   F110001  15.8853  17.01  16.6752  17.01  LINE  FIADAS        11  P0010
4   F110002  13.4853  17.01  14.6753  17.01  LINE  FIADAS        11  P0010
5   F110003  11.0853  17.01  11.8753  17.01  LINE  FIADAS        11  P0010
6   F100001  15.8853  16.81  16.6752  16.81  LINE  FIADAS        10  P0010
7   F100002  13.4853  16.81  14.6753  16.81  LINE  FIADAS        10  P0010
8   F100003  11.0853  16.81  11.8753  16.81  LINE  FIADAS        10  P0010
9   F090001  15.8853  16.61  16.6752  16.61  LINE  FIADAS         9  P0010
10  F090002  13.4853  16.61  14.6753  16.61  LINE  FIADAS         9  P0010
11  F090003  11.0853  16.61  11.8753  16.61  LINE  FIADAS         9  P0010
12  F080001  15.8853  16.41  16.6752  16.41  LINE  FIADAS         8  P0010
13  F080002  13.4853  16.41  14.6753  16.41  LINE  FIADAS         8  P0010
14  F080003  11.0853  16.41  11.8753  16.41  LINE  FIADAS         8  P0010
15  F070001  15.8853  16.21  16.6752  16.21  LINE  FIADAS         7  P0010
16  F070002  13.4853  16.21  14.6753  16.21  LINE  FIADAS         7  P0010
17  F070003  11.0853  16.21  11.8753  16.21  LINE  FIADAS         7  P0010
18  F060001  15.8853  16.01  16.6752  16.01  LINE  FIADAS         6  P0010
19  F060002  13.4853  16.01  14.6753  16.01  LINE  FIADAS         6  P0010
20  F060003  11.0853  16.01  11.8753  16.01  LINE  FIADAS         6  P0010
21  F050001  13.4853  15.81  16.6752  15.81  LINE  FIADAS         5  P0010
22  F050002  11.0853  15.81  11.8753  15.81  LINE  FIADAS         5  P0010
23  F040001  13.4853  15.61  16.6752  15.61  LINE  FIADAS         4  P0010
24  F040002  11.0853  15.61  11.8753  15.61  LINE  FIADAS         4  P0010
25  F030001  13.4853  15.41  16.6752  15.41  LINE  FIADAS         3  P0010
26  F030002  11.0853  15.41  11.8753  15.41  LINE  FIADAS         3  P0010
27  F020001  13.4853  15.21  16.6752  15.21  LINE  FIADAS         2  P0010
28  F020002  11.0853  15.21  11.8753  15.21  LINE  FIADAS         2  P0010
29  F010001  13.4853  15.01  16.6752  15.01  LINE  FIADAS         1  P0010
30  F010002  11.0853  15.01  11.8753  15.01  LINE  FIADAS         1  P0010

    XiDelta  YiDelta
0      15.0    260.0
1      15.0    240.0
2      15.0    220.0
3     495.0    200.0
4     255.0    200.0
5      15.0    200.0
6     495.0    180.0
7     255.0    180.0
8      15.0    180.0
9     495.0    160.0
10    255.0    160.0
11     15.0    160.0
12    495.0    140.0
13    255.0    140.0
14     15.0    140.0
15    495.0    120.0
16    255.0    120.0
17     15.0    120.0
18    495.0    100.0
19    255.0    100.0
20     15.0    100.0
21    255.0     80.0
22     15.0     80.0
23    255.0     60.0
24     15.0     60.0
25    255.0     40.0
26     15.0     40.0
27    255.0     20.0
28     15.0     20.0
29    255.0      0.0
30     15.0      0.0

In [144]:
blocos = {}

for par in Blocos_df['ID par']:
  blocos[par] = Blocos_df.loc[Blocos_df['ID par'] == par]
  blocos[par] = blocos[par].reset_index()

display(blocos['P0010'])

,index,ID bloco,Xi,Yi,Xf,Yf,Tipo,Layer,Lenght,ID fiada,ID par,XiDelta,YiDelta
0,0,B14000007,16.5352,17.61,16.6752,17.8,POLYLINE,BP,14,F140001,P0010,560.0,260.0
1,1,B14000007,16.5352,17.21,16.6752,17.4,POLYLINE,BP,14,F120001,P0010,560.0,220.0
2,2,B14000007,16.5352,16.81,16.6752,17.0,POLYLINE,BP,14,F100001,P0010,560.0,180.0
3,3,B14000007,16.5352,16.41,16.6752,16.6,POLYLINE,BP,14,F080001,P0010,560.0,140.0
4,4,B14000007,16.5352,16.01,16.6752,16.2,POLYLINE,BP,14,F060001,P0010,560.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,1426,B39001150,14.6853,15.01,15.0753,15.2,POLYLINE,B39,39,F010001,P0010,375.0,0.0
152,1427,B39001151,15.0853,15.01,15.4753,15.2,POLYLINE,B39,39,F010001,P0010,415.0,0.0
153,1428,B39001152,15.4853,15.01,15.8753,15.2,POLYLINE,B39,39,F010001,P0010,455.0,0.0
154,1429,B39001153,15.8853,15.01,16.2753,15.2,POLYLINE,B39,39,F010001,P0010,495.0,0.0
155,1430,B39001154,16.2853,15.01,16.6753,15.2,POLYLINE,B39,39,F010001,P0010,535.0,0.0

In [134]:
#ExplicaÃ§Ã£o: Criando funÃ§Ãµes para carregar as tabelas/dicionarios
# Paredes
def carregar_paredes():
  return paredes

# esquadrias
def carregar_esquadrias():
  return esquadrias

# fiadas
def carregar_fiadas():
  return fiadas

# blocos
def carregar_blocos():
  return blocos

In [135]:
print(paredes.keys())

dict_keys(['P0001', 'P0002', 'P0003', 'P0004', 'P0005', 'P0006', 'P0007', 'P0008', 'P0009', 'P0010'])

In [136]:
parede_selecionada = 'P0004'

In [137]:
paredesBD = carregar_paredes()
paredesBD = paredesBD[parede_selecionada]

display(paredesBD)

  ID par  Layer   Xi  Yi    Xf  Yf  Lenght ID Texto     Texto ID esq Layer esq
3  P0004  PAR01  0.0   0  2.39   0    2.39    T0003  PAREDE 0    NaN       NaN

In [138]:
fiadasBD = carregar_fiadas()
fiadasBD = fiadasBD[parede_selecionada]

display(fiadasBD['NÃºmFiada'].max())

13

In [139]:
blocosBD = carregar_blocos()
blocosBD = blocosBD[parede_selecionada]

display(blocosBD)

,index,ID bloco,Xi,Yi,Xf,Yf,Tipo,Layer,Lenght,ID fiada,ID par,XiDelta,YiDelta
0,1431,B19000097,2.2,17.21,2.39,17.4,POLYLINE,B19,19,F120005,P0004,220.0,220.0
1,1432,B19000097,2.2,16.81,2.39,17.0,POLYLINE,B19,19,F100013,P0004,220.0,180.0
2,1433,B19000097,2.2,16.41,2.39,16.6,POLYLINE,B19,19,F080013,P0004,220.0,140.0
3,1434,B19000097,2.2,16.01,2.39,16.2,POLYLINE,B19,19,F060012,P0004,220.0,100.0
4,1435,B19000098,2.2,15.61,2.39,15.8,POLYLINE,B19,19,F040011,P0004,220.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,1510,B39001219,1.2,15.01,1.59,15.2,POLYLINE,B39,39,F010011,P0004,120.0,0.0
80,1511,B39001219,1.6,15.01,1.99,15.2,POLYLINE,B39,39,F010011,P0004,160.0,0.0
81,1512,B39001219,0.8,15.01,1.19,15.2,POLYLINE,B39,39,F010011,P0004,80.0,0.0
82,1513,B39001219,0.0,15.01,0.39,15.2,POLYLINE,B39,39,F010011,P0004,0.0,0.0
83,1514,B39001219,0.4,15.01,0.79,15.2,POLYLINE,B39,39,F010011,P0004,40.0,0.0

In [140]:
i = 1
tipo = blocosBD.loc[blocosBD['Layer']=="B19", "Lenght"]
display(tipo)

0     19
1     19
2     19
3     19
4     19
5     19
17    19
29    19
41    19
53    19
65    19
77    19
Name: Lenght, dtype: int64

In [141]:
blocosBD = blocosBD.reset_index()
display(blocosBD.head(10))

,level_0,index,ID bloco,Xi,Yi,Xf,Yf,Tipo,Layer,Lenght,ID fiada,ID par,XiDelta,YiDelta
0,0,1431,B19000097,2.2,17.21,2.39,17.4,POLYLINE,B19,19,F120005,P0004,220.0,220.0
1,1,1432,B19000097,2.2,16.81,2.39,17.0,POLYLINE,B19,19,F100013,P0004,220.0,180.0
2,2,1433,B19000097,2.2,16.41,2.39,16.6,POLYLINE,B19,19,F080013,P0004,220.0,140.0
3,3,1434,B19000097,2.2,16.01,2.39,16.2,POLYLINE,B19,19,F060012,P0004,220.0,100.0
4,4,1435,B19000098,2.2,15.61,2.39,15.8,POLYLINE,B19,19,F040011,P0004,220.0,60.0
5,5,1436,B19000098,2.2,15.21,2.39,15.4,POLYLINE,B19,19,F020012,P0004,220.0,20.0
6,6,1437,B39001160,2.0,17.41,2.39,17.6,POLYLINE,B39C,39,F130005,P0004,200.0,240.0
7,7,1438,B39001161,1.2,17.41,1.59,17.6,POLYLINE,B39C,39,F130005,P0004,120.0,240.0
8,8,1439,B39001162,1.6,17.41,1.99,17.6,POLYLINE,B39C,39,F130005,P0004,160.0,240.0
9,9,1440,B39001163,0.8,17.41,1.19,17.6,POLYLINE,B39C,39,F130005,P0004,80.0,240.0

In [160]:
i = 1
tipo = blocosBD.loc[i, "Lenght"]
display(tipo)

Empty DataFrame
Columns: [level_0, index, ID bloco, Xi, Yi, Xf, Yf, Tipo, Layer, Lenght, ID fiada, ID par, XiDelta, YiDelta]
Index: []

In [145]:
paredesBD['Lenght']

3    2.39
Name: Lenght, dtype: float64

In [155]:
blocosBD.loc[:,"YiDelta"].max()

240.0

In [156]:
#* CONSTANTES
TELA_ALT = 800
TELA_LARG = 1280
ESP_LINHA = 2

XI = 200
YI = TELA_ALT - (200 + 10 + 1)

dados_impressao = []
for i in range(len(blocosBD)):
  tipo = blocosBD.loc[i, "Lenght"]
  fiada = 1
  X = XI + blocosBD.loc[i, "XiDelta"]
  Y = YI - blocosBD.loc[i, "YiDelta"]
  print(tipo, fiada, X, Y)

19 1 420.0 369.0
19 1 420.0 409.0
19 1 420.0 449.0
19 1 420.0 489.0
19 1 420.0 529.0
19 1 420.0 569.0
39 1 400.0 349.0
39 1 320.0 349.0
39 1 360.0 349.0
39 1 280.0 349.0
39 1 200.0 349.0
39 1 240.0 349.0
39 1 380.0 369.0
39 1 300.0 369.0
39 1 340.0 369.0
39 1 260.0 369.0
39 1 220.0 369.0
19 1 200.0 369.0
39 1 400.0 389.0
39 1 320.0 389.0
39 1 360.0 389.0
39 1 280.0 389.0
39 1 200.0 389.0
39 1 240.0 389.0
39 1 380.0 409.0
39 1 300.0 409.0
39 1 340.0 409.0
39 1 260.0 409.0
39 1 220.0 409.0
19 1 200.0 409.0
39 1 400.0 429.0
39 1 320.0 429.0
39 1 360.0 429.0
39 1 280.0 429.0
39 1 200.0 429.0
39 1 240.0 429.0
39 1 380.0 449.0
39 1 300.0 449.0
39 1 340.0 449.0
39 1 260.0 449.0
39 1 220.0 449.0
19 1 200.0 449.0
39 1 400.0 469.0
39 1 320.0 469.0
39 1 360.0 469.0
39 1 280.0 469.0
39 1 200.0 469.0
39 1 240.0 469.0
39 1 380.0 489.0
39 1 300.0 489.0
39 1 340.0 489.0
39 1 260.0 489.0
39 1 220.0 489.0
19 1 200.0 489.0
39 1 400.0 509.0
39 1 320.0 509.0
39 1 360.0 509.0
39 1 280.0 509.0
39 1 200.0 509.0
39 1 240.0 509.0
39 1 380.0 529.0
39 1 300.0 529.0
39 1 340.0 529.0
39 1 260.0 529.0
39 1 220.0 529.0
19 1 200.0 529.0
39 1 400.0 549.0
39 1 320.0 549.0
39 1 360.0 549.0
39 1 280.0 549.0
39 1 200.0 549.0
39 1 240.0 549.0
39 1 380.0 569.0
39 1 300.0 569.0
39 1 340.0 569.0
39 1 260.0 569.0
39 1 220.0 569.0
19 1 200.0 569.0
39 1 400.0 589.0
39 1 320.0 589.0
39 1 360.0 589.0
39 1 280.0 589.0
39 1 200.0 589.0
39 1 240.0 589.0

In [179]:
pars = []
i_par_max = len(carregar_paredes().keys())

for i in carregar_paredes().keys():
  pars.append(i)


print(len(pars)-1)

9